/* Main */
#menu{
    width: 100%;
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;  
/*    background: #111;
    background: -moz-linear-gradient(#444, #111); 
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));  
    background: -webkit-linear-gradient(#444, #111);    
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
    -moz-border-radius: 50px;
    border-radius: 50px;
    -moz-box-shadow: 0 2px 1px #9c9c9c;
    -webkit-box-shadow: 0 2px 1px #9c9c9c;
    box-shadow: 0 2px 1px #9c9c9c;*/
}

#menu li{
    float: left;
    padding: 0 0 10px 0;
    position: relative;
}

#menu a{
    float: left;
    height: 25px;
    padding: 0 25px;
    color: #999;
    text-transform: uppercase;
    font: bold 12px/25px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 0px 0 #000;
}

#menu span{
    float: left;
    height: 25px;
    padding: 0 25px;
    color: #999;
    text-transform: uppercase;
    font: bold 12px/25px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 0px 0 #000;
}

#menu li:hover > a{
    /*color: #fafafa;*/
    color:#0000ff;
}

#menu li > a.active{
    /*color: #fafafa;*/
    color:#0000ff;
}
/**html #menu li a:hover{  IE6 
    color: #fafafa;
}*/

#menu li:hover > ul{
    display: block;
}

#menu > li:last-child
{
    float:right;
}

/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 10px;
    color: #262626;
    font-family: 'Helvetica Neue Light', 'Helvetica Neue', 'Segoe UI', Roboto, sans-serif, Arial;
    font-size: 14px;
    font-weight: 300;
}

h1 {
    margin: 0 0 8px 0;
    font-size: 24px;
    font-family: 'Helvetica Neue Light', 'Helvetica Neue', 'Segoe UI', Roboto, sans-serif, Arial;
    font-weight: 300;
}

a {
  color: #00B7FF;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-s6z2{text-align:center}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-9hbo{font-weight:bold;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}

tr.jsgrid-row.my-row-custom-cls {background:#ff0000}
.jsgrid-row.my-row-custom-cls {background:#ff0000}
.jsgrid-cell.my-row-custom-cls {background:#ff0000}
.jsgrid-row.my-row-custom-cls>.jsgrid-cell {background:#ff0000}

.jsgrid-row.my-cell-custom-cls>.jsgrid-cell:nth-child(2) {background:#00ff1f}
.jsgrid-row>.my-row-custom-cls{background:#ff0000}

/*.my-row-custom-cls>.jsgrid-cell{background:#fff}*/